<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Error404</title>
</head>
<body style="background-image: url('https://cdn53.picsart.com/170191205002202.jpeg')"  >
<h1 style="color:purple; margin-left: 3cm;">Error 404. Page Not Found. Страница не найдена вернитесь на главную.</h1>

<a style="margin-left:30cm; color:velvet; font-size: 30px;font-weight: bold; " href="{% url 'index' %}"> Вернутся на главную</a><br>
<a style="margin-left:30cm; color:red; font-size: 24px;font-weight: bold; " href="{% url 'logout' %}"> Выход</a>
<video style="background: hsl(60, 100%, 97%); display: block; width: 33%; height: auto; margin: 0 auto; margin-top:9cm;" preload="auto" loop autoplay src="https://cs8.pikabu.ru/post_img/2016/08/30/10/147257839718301467.mp4"></video>

</body>
</html>